<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/clickandbuy</property>
        <property name="hibernate.connection.username">root</property>
        <mapping resource="clickandbuy/upc/edu/core/entity/Usuario.hbm.xml"/>
        <mapping resource="clickandbuy/upc/edu/core/entity/Log.hbm.xml"/>
        <mapping resource="clickandbuy/upc/edu/core/entity/Rol.hbm.xml"/>
        <mapping resource="clickandbuy/upc/edu/core/entity/Producto.hbm.xml"/>
        <mapping resource="clickandbuy/upc/edu/core/entity/Categoria.hbm.xml"/>
        <mapping resource="clickandbuy/upc/edu/core/entity/Productoxpedido.hbm.xml"/>
        <mapping resource="clickandbuy/upc/edu/core/entity/Pedido.hbm.xml"/>
        <mapping resource="clickandbuy/upc/edu/core/entity/Cliente.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
